{% extends "layout.html" %}

{% block content %}
<div class="container text-center mb-0 p-0">
    <h1 class="text-center titulo">Secret Library</h1>
    <br>
    <img title="Obra de Gerhard Altzenbach" src="{{ url_for('static', filename='img/skull.jpg') }}" class="rounded-circle skull img-thumbnail">
    <br>
    <p class="text-center">"Seja muito bem vindo à <em>Grande Biblioteca Secreta</em>!"</p>
    <h3>Conteúdo Dinâmico</h3>
    <small>Desenvolvida com Python-Flask</small>
    <br>
    <br>
<div> 
    <hr>
    <h1 class="text-center titulo">{{ book.title }}</h1>
    <hr>
    {% if book.user == current_user %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('books.update_book', book_id=book.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            <a class="btn btn-success btn-sm mt-1 mb-1" href="{{ url_for('books.analysis', book_id=book.id) }}">Analyze</a>
            <a class="btn btn-info btn-sm mt-1 mb-1" target="_blank" href="https://google.com/search?q={{ book.title }}">Information</a>
        </div>
    {% else %}
        <div>
            <a class="btn btn-success btn-sm mt-1 mb-1" href="{{ url_for('books.analysis', book_id=book.id) }}">Analyze</a>
            <a class="btn btn-info btn-sm mt-1 mb-1" target="_blank" href="https://google.com/search?q={{ book.title }}">Information</a>
        </div>
    {% endif %}	
    <div class="container text-center mb-0 pb-0">
        <h2 class="movie-title">Author: <strong><a href="{{ url_for('books.author', author=book.author) }}">{{ book.author }}</a></strong></h2><br>
        <h4>Genre: <strong><a href="{{ url_for('books.genre', genre=book.genre) }}">{{ book.genre }}</a></strong></h4><br>
        <h5><strong>Posted in:</strong> {{ book.date_posted.strftime('%Y-%m-%d') }}</h5><br>
        <p class="summary"><strong>Summary:</strong> {{ book.summary }}</p><br>
        <img class="img-thumbnail" src="{{ url_for('static', filename='book/' + book.image_book) }}"><br>
        <p class="mb-2 mt-3">Post by: <a href="{{ url_for('users.user_book', username=book.user.username) }}"><strong>{{ book.user.username }}</strong></a></p><br>
        <hr>
    </div>
    {% if analysis %}
        <h1 class="text-center titulo mb-3">Reviews</h1>
    {% endif %} 
    {% for analyse in analysis %}
    <div class="review mb-3">
        {% if analyse.user == current_user %}
            <div>
                <a class="btn btn-secondary update-review" href="{{ url_for('books.update_analysis', analysis_id=analyse.id, book_id=book.id) }}">Update</a>
                <form class="delete-review" action="{{ url_for('books.delete_analysis', analysis_id=analyse.id, book_id=book.id) }}" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
        {% endif %} 
        <img class="avatar-review" src="{{ url_for('static', filename='profile/' + analyse.user.image_file) }}">
        <h3><strong></strong><a href="{{ url_for('users.user_book', username=analyse.user.username) }}">{{ analyse.user.username }}</a></h3>
        <h4><strong>Rating:</strong> {{ analyse.rating }}</h4>
        <p class="mb-0"><strong>Review:</strong> {{ analyse.review }}</p>
    </div> 
    {% endfor %} 
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Would you like to delete the book <strong>{{ book.title }}</strong>?</h5>
                    <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form class="delete-form" action="{{ url_for('books.delete_book', book_id=book.id) }}" method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}