{% extends "layout.html" %}

{% block content %}
<div class="container text-center mb-0 p-0">
    <h1 class="text-center titulo">Secret Library</h1>
    <br>
    <img title="Obra de Gerhard Altzenbach" src="{{ url_for('static', filename='img/skull.jpg') }}" class="rounded-circle skull img-thumbnail">
    <br>
    <p class="text-center">"Seja muito bem vindo à <em>Grande Biblioteca Secreta</em>!"</p>
    <h3>Conteúdo Dinâmico</h3>
    <small>Desenvolvida com Python-Flask</small>
    <br>
    <br>
    <hr>
    <h1 class="text-center titulo"><strong>{{ genre }}</strong> books</h1>
    <hr>
    <form method="GET" class="form-group" action="{{ url_for('main.search') }}">
        <img class="mb-1" src="{{ url_for('static', filename='img/eye.png') }}">
        <h2>Search for Books</h2>
        <p>Search by: (<strong>Title</strong>, <strong>Author</strong>, <strong>Genre</strong> or <strong>Summary</strong>)</p>
        <input type="text" name="q" class="form-control" >
        <input type="submit" class="btn btn-primary btn-sm" value="Search" >
    </form>
    <div class="container text-center">
        {% for book in books.items %}
            <h2 class="movie-title">Title:<strong> <a href="{{ url_for('books.book', book_id=book.id) }}">{{ book.title }}</a></strong></h2><br>
            <h3>Author: <strong><a href="{{ url_for('books.author', author=book.author) }}">{{ book.author }}</strong></a></h3><br>
            <h4>Genre: <strong><a href="{{ url_for('books.genre', genre=book.genre) }}">{{ book.genre }}</a></strong></h4><br>
            <h5><strong>Posted in:</strong> {{ book.date_posted.strftime('%Y-%m-%d') }}</h5><br>
            <p><strong>Summary:</strong> {{ book.summary }}</p><br>
            <img class="img-thumbnail" src="{{ url_for('static', filename='book/' + book.image_book) }}"><br>
            <p class="mb-2 mt-3">Post by: <a href="{{ url_for('users.user_book', username=book.user.username) }}"><strong>{{ book.user.username }}</strong></a></p><br>
            <hr>
        {% endfor %}
    </div>
</div> 
{% endblock content %}