{% extends "layout.html" %}

{% block content %}
<div class="container text-center">
    <h1 class="text-center titulo">Secret Library</h1>
    <br>
    <img src="{{ url_for('static', filename='img/skull.jpg') }}" class="rounded-circle skull img-thumbnail" style="width:250px;height:250px;">
    <br>
    <p class="text-center">"Seja muito bem vindo à <em>Grande Biblioteca Secreta</em>!"</p>
    <h3>Conteúdo Dinâmico</h3>
    <p>Nossa biblioteca conta atualmente com os seguintes contadores de registros:</p>
    <br>
<div> 
{% endblock content %}