{% extends "layout.html" %}

{% block content %}
<div class="container text-center">
    <h1 class="text-center titulo">Secret Library</h1>
    <br>
    <img src="{{ url_for('static', filename='img/skull.jpg') }}" class="rounded-circle skull img-thumbnail" style="width:250px;height:250px;">
    <br>
    <p class="text-center">"Seja muito bem vindo à <em>Grande Biblioteca Secreta</em>!"</p>
    <h3>Conteúdo Dinâmico</h3>
    <small>Desenvolvida com Python-Flask</small>
    <br>
    <br>
<div> 
    <hr>
    <h1 class="text-center titulo">Hall of Books</h1>
    <hr>
    <form method="GET" class="form-group" action="{{ url_for('main.search') }}">
        <h2>Search for Books in our Database</h2>
        <p>Search by: (<strong>Title</strong>, <strong>Author</strong> or <strong>Summary</strong>)</p>
        <input type="text" name="q" class="form-control" >
        <input type="submit" class="btn btn-primary btn-sm" value="Search" >
    </form>
    <div class="container text-center">
        {% for book in books.items %}
            <h2>Title:<strong> <a href="{{ url_for('books.book', book_id=book.id) }}">{{ book.title }}</a></strong></h2><br>
            <h3>Author: <strong>{{ book.author }}</strong></h3><br>
            <h5>Posted in: {{ book.date_posted.strftime('%Y-%m-%d') }}</h5><br>
            <p class="summary"><strong>Summary:</strong> {{ book.summary }}</p><br>
            <img class="img-thumbnail" src="{{ url_for('static', filename='book/' + book.image_book) }}"><br>
            <p class="mb-2 mt-3">Book posted by: <a href="{{ url_for('users.user_book', username=book.user.username) }}"><strong>{{ book.user.username }}</strong></a></p><br>
            <hr>
        {% endfor %}
    </div>
    {% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if books.page == page_num %}
                <a class="btn btn-primary mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-primary mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}

        {% endif %}
    {% endfor %}
{% endblock content %}