body {
  background-color: black;
  background-image: url(/static/img/dark.png);
  color: #908d94;
}

.nav {
  padding: 20px;
  border: 1px solid white;
  margin-top: 15px;
  background-color: #222222; 
}

a {
  color: white !important;
}

strong {
  color: white;
}

b {
  color: black;
}

.container {
  padding: 20px;
  margin-top: 20px;
  background-color: #100109;
  margin-bottom: 20px;
}

.caixa-principal {
  border: 1px solid white;
  box-shadow: 5px 5px 5px #222222;
  border-radius: 14px;
}

.titulo {
  text-shadow: 2px 2px #222222, 0 0 4px black;
  color: #908d94;
  font-weight: bold;
  font-style: oblique;
}

.list-group-item {
  margin-bottom: 4px;
  background-color: #908d94;
}

.list-group-item:hover {
  background-color: black;
  cursor: pointer;
}

hr { 
  background-color: white;
}

.btn-primary {
  margin-top: 10px;
  background-color: gray !important;
  border: 1px solid white !important;
}

.btn-primary:hover {
  opacity: 0.85;
}

.page-current {
  background-color:#222222 !important;
}

.livro {
  color: white;
}

.skull {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  opacity: 0.7 !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.list-group-horizontal .list-group-item {
  margin-bottom: 4px !important;
}

form {
  padding: 20px;
  border: 1px solid #908d94;
  opacity: 0.8;
  box-shadow: 5px 6px 6px #222222;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 6px 12px;
  border-radius: 10px;
}

textarea {
  resize: none;
  display: block;
  height: 160px !important;
}

.table {
  color: #908d94 !important;
}

.modal-content {
  background-color: #100109 !important;
}

.delete-form {
  border: none !important;
  box-shadow: none !important;
}

.close-modal {
  color: white !important;
}

.summary {
  text-align: justify;
}

.icons {
  margin-top: 12px;
  margin-bottom: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}

.btn-warning {
  background-color: #cc5c3d !important;
  width: 100% !important;
  border: 1px solid white !important
}

.btn-warning:hover {
  cursor: pointer;
  opacity: 0.85;
}

i {
  margin-right: 14px;
  color: #908d94;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 25px #908d94;
}

::-webkit-scrollbar-thumb {
  background: #100109;
  border-radius: 0.25rem;
  border: 2px solid white;
}

::-webkit-scrollbar-thumb:hover {
  background: #908d94;
}